.users{
    display: flex;
    background: white;
    margin: 40px 60px;
    padding: 10px;
    border-radius: 10px;
}

.input-field{
    flex-direction: row;
    font-size: 17px;
    padding: 5px;
}

.head-text{
    font-size: 20px;
}

.submit-button{
    margin: 7px;
    padding: 2px;
    height: 50px;
    width: 70px;
    border-radius: 10px;
    background: #afdf90;
    font-size: 16px;
}